
.app-title {
    background-color: blue;
    text-align: center;
    color: white;
    margin: 10px;
    
    height: 100px;

}
.subtitle{
    background-color: blue;
 
    margin-top: 20px;
}
.subtitle{
    background-color: blue;
}
