

.app-title {
    background-color: blue;
    text-align: center;
    color: white;
    margin: 10px;
    
    height: 100px;

}
.subtitle{
    
 
    margin-top: 20px;
}

#city-container{
    display: flex;
    flex-direction: row;
}
h1 {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }

#city-container{
    margin-top: 29px;
    font-weight: bolder;
}
